<!--
 * @Author: Vinylonprophet 915390118@qq.com
 * @Date: 2022-11-11 17:15:29
 * @LastEditors: Vinylonprophet 915390118@qq.com
 * @LastEditTime: 2022-11-14 11:25:46
 * @FilePath: \angular-test\src\app\app.component.html
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<!-- shared 共享模块 -->
<!-- <app-layout></app-layout> -->

<!-- 数据绑定 -->
<!-- <app-data-binding></app-data-binding> -->

<!-- 属性绑定 -->
<!-- <app-property-binding></app-property-binding> -->

<!-- 事件绑定 -->
<!-- <app-event-binding></app-event-binding> -->

<!-- 模板变量——dom事件绑定 -->
<!-- <app-template-variable></app-template-variable> -->

<!-- 双向数据绑定 -->
<!-- <app-two-way-binding></app-two-way-binding> -->

<!-- 内容投影 -->
<!-- <app-content-projection>
  <div class="a">a</div>
  <ng-container class="b">b</ng-container>
  <div class="c">c</div>
</app-content-projection> -->

<!-- 数据绑定的容错处理 -->
<!-- <app-fault-tolerant></app-fault-tolerant> -->

<!-- 全局引入样式的三种方式 -->
<!-- 第一种style.css引入 -->
<!-- 第二种index.html里link引入 -->
<!-- 第三种angular.json中修改styles -->
<!-- <button class="btn btn-primary">button</button> -->

<!-- 内置指令 -->
<!-- <app-built-in></app-built-in> -->

<!-- 自定义指令 -->
<!-- <app-customize></app-customize> -->

<!-- 管道（内置和自定义） -->
<!-- <app-pipe></app-pipe> -->

<!-- 组件通讯 -->
<!-- <app-parent></app-parent> -->

<!-- 生命周期——挂载阶段 -->
<!-- <app-mount></app-mount> -->

<!-- 生命周期——更新阶段 -->
<app-update></app-update>
