<!--
 * @Author: Vinylonprophet 915390118@qq.com
 * @Date: 2022-11-11 17:15:29
 * @LastEditors: Vinylonprophet 915390118@qq.com
 * @LastEditTime: 2022-11-25 14:18:46
 * @FilePath: \angular-test\src\app\app.component.html
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<!-- shared 共享模块 -->
<!-- <app-layout></app-layout> -->

<!-- 数据绑定 -->
<!-- <app-data-binding></app-data-binding> -->

<!-- 属性绑定 -->
<!-- <app-property-binding></app-property-binding> -->

<!-- 事件绑定 -->
<!-- <app-event-binding></app-event-binding> -->

<!-- 模板变量——dom事件绑定 -->
<!-- <app-template-variable></app-template-variable> -->

<!-- 双向数据绑定 -->
<!-- <app-two-way-binding></app-two-way-binding> -->

<!-- 内容投影 -->
<!-- <app-content-projection>
  <div class="a">a</div>
  <ng-container class="b">b</ng-container>
  <div class="c">c</div>
</app-content-projection> -->

<!-- 数据绑定的容错处理 -->
<!-- <app-fault-tolerant></app-fault-tolerant> -->

<!-- 全局引入样式的三种方式 -->
<!-- 第一种style.css引入 -->
<!-- 第二种index.html里link引入 -->
<!-- 第三种angular.json中修改styles -->
<!-- <button class="btn btn-primary">button</button> -->

<!-- 内置指令 -->
<!-- <app-built-in></app-built-in> -->

<!-- 自定义指令 -->
<!-- <app-customize></app-customize> -->

<!-- 管道（内置和自定义） -->
<!-- <app-pipe></app-pipe> -->

<!-- 组件通讯 -->
<!-- <app-parent></app-parent> -->

<!-- 生命周期——挂载阶段 -->
<!-- <app-mount></app-mount> -->

<!-- 生命周期——更新阶段 -->
<!-- <app-update></app-update> -->

<!-- 生命周期——卸载阶段 -->
<!-- <app-destroy></app-destroy> -->

<!-- 依赖注入(Dependency Injection) -->
<!-- 通过参数传递实例的方式叫做注入 -->
<!-- 打开app.module下面的DiModule -->

<!-- 服务的创建与注入，以及服务的作用域 -->
<!-- 服务的作用域决定了服务是跨模块还是跨组件共享，而服务的作用域取决于服务的注入器 -->
<!-- 第一种级别是根注入器，使用具体看test.service.ts -->
<!-- 第二种级别是模块注入器，使用具体看test.service.ts以及app.module.ts -->
<!-- 第三种级别是组件级别，使用具体看test.service.ts以及service.component.ts -->
<!-- <app-service></app-service> -->

<!-- 表单 -->
<!-- 模板驱动 -->
<!-- <app-template-driven></app-template-driven> -->

<!-- 响应式表单 -->
<!-- <app-reactive></app-reactive> -->

<!-- FormArray -->
<!-- <app-form-array></app-form-array> -->

<!-- 表单验证 -->
<!-- <app-validation></app-validation> -->

<!-- FormBuilder -->
<!-- <app-form-builder></app-form-builder> -->

<!-- 模板驱动练习 -->
<!-- <app-checkbox></app-checkbox> -->
<!-- <app-radio></app-radio> -->

<!-- 表单方法 -->
<!-- <app-method></app-method> -->

<!-- 路由的基本使用 -->
<!-- 路由传递参数的两种方式 -->
<!-- 子集路由 -->
<!-- 路由命名插座 -->
<!-- 导航路由 -->
<!-- 路由独立模块 -->
<!-- 路由懒加载 -->
<!-- 路由守卫 CanActivate，是否允许访问路由 -->
<!-- 路由守卫 CanActivateChild，是否允许访问子级路由 -->
<!-- 路由守卫 CanDeactivate，给用户提示 -->
<!-- 路由守卫 Resolve，允许进入路由之前先获取数据，待数据获取完成之后在进入路由 -->
<!-- <app-pages></app-pages> -->

<!-- Rxjs入门 -->
<!-- https://github.com/Vinylonprophet/rxjs-introduction -->

<!-- HttpClient -->
<!-- <app-http-client></app-http-client> -->

<!-- HttpParams -->
<!-- <app-http-params></app-http-params> -->

<!-- httpHeaders -->
<!-- <app-http-headers></app-http-headers> -->

<!-- 响应内容 -->
<!-- <app-http-response></app-http-response> -->

<!-- 拦截器 -->
<!-- angular应用中全局捕获或修改http请求和响应的方式。（token、error） -->
<!-- 只拦截使用HttpClientModule模块发出的请求 -->
<!-- 拦截器是auth.interceptor.ts -->

<!-- proxy，解决跨域问题 -->
<!-- 在proxy中代码的含义如下： -->
<!-- /api/*，如果请求以/api开头那么就代理到target的服务端地址上去 -->
<!-- target，服务端URL -->
<!-- secue，如果URL是https，此项目为true -->
<!-- changeOrigin，如果服务端不是localhost，此项为true -->
<!-- 两种配置方式，一种在angular.json的serve，一种在package.json的script -->
<!-- <app-http-proxy></app-http-proxy> -->

<!-- NgRx，Angular应用中实现全局状态管理的Redux架构解决方案 -->
<!-- NgRx中所有状态都被存储在一个叫做store的地方，都是通过reducer去更改 -->
<!-- 如果想要添加或者修改store的状态，那么组件必须触发一个action被reducer接收到，根据不同类型对状态进行不同的处理 -->
<!-- selector从store获取组件需要的数据，组件再从selector中获取想要的数据 -->
<!-- 如果在整个流程中需要执行异步操作，那么在action的右侧有个effects -->
<!-- effects可以接受action，过滤自己想要的action，如果确定action要进行异步操作，要么通过effects去调service向服务器端发送请求 -->
<!-- 服务器端再把响应给到service -->
<!-- effects从service获取响应，再去触发action，再把结果给到reducer -->
<!-- 1.下载ngrx -->
<!-- npm install @ngrx/effects @ngrx/entity @ngrx/router-store @ngrx/store @ngrx/store-devtools @ngrx/schematics -->
<!-- 2.配置ngrx cli -->
<!-- ng config cli.defaultCollection @ngrx/schematics -->
<!-- 3.创建store -->
<!-- ng g store State --root --module app.module.ts --state-path store --state-interface AppState -->
<!-- 4.创建action -->
<!-- ng g action store/actions/counter --skip-tests -->
<!-- 5.创建Reducer -->
<!-- ng g reducer store/reducers/counter --skip-tests --reducers=../index.ts -->
<!-- 6.创建Selector -->
<!-- ng g selector store/selectors/counter --skip-tests -->
<!-- Action Payload -->
<!-- MetaReducer，是Action -> Reducer之间的钩子函数，允许开发者对Action进行预处理，(在普通Reducer函数调用之前调用) -->
<!-- effect，在ngrx中用来执行副作用 -->
<!-- <app-ngrx></app-ngrx> -->

<!-- entity，译为实体，是集合中的一条数据，在实体适配器对象下提供了各种操作集合中实体的方法，目的是为了提高开发者操作实体的效率 -->
<!-- <app-ngrx-example></app-ngrx-example> -->

<!-- 动画 -->
<!-- void：当元素在内存中创建好但尚未被添加到 DOM 中或将元素从 DOM 中删除时会发生此状态 -->
<!-- \*：元素被插入到 DOM 树之后的状态，或者是已经在DOM树中的元素的状态，也叫默认状态 -->
<!-- custom：自定义状态，元素默认就在页面之中，从一个状态运动到另一个状态，比如面板的折叠和展开 -->
<!-- 进场动画是指元素被创建后以动画的形式出现在用户面前，进场动画的状态用 void => * 表示，别名为 :enter -->
<!-- 出场动画是指元素在被删除前执行的一段告别动画，出场动画的状态用 * => void，别名为 :leave -->
