<!--
 * @Author: Vinylonprophet 915390118@qq.com
 * @Date: 2022-11-11 17:15:29
 * @LastEditors: Vinylonprophet 915390118@qq.com
 * @LastEditTime: 2022-11-12 10:53:01
 * @FilePath: \angular-test\src\app\app.component.html
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<!-- shared 共享模块 -->
<!-- <app-layout></app-layout> -->

<!-- 数据绑定 -->
<!-- <app-data-binding></app-data-binding> -->

<!-- 属性绑定 -->
<!-- <app-property-binding></app-property-binding> -->

<!-- 事件绑定 -->
<!-- <app-event-binding></app-event-binding> -->

<!-- 模板变量——dom事件绑定 -->
<app-template-variable></app-template-variable>
