<!--
 * @Author: Vinylonprophet 915390118@qq.com
 * @Date: 2022-11-16 00:00:21
 * @LastEditors: Vinylonprophet 915390118@qq.com
 * @LastEditTime: 2022-11-16 23:42:06
 * @FilePath: \angular-test\src\app\pages\home\home.component.html
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<app-page-layout
  >首页
  <!-- 页面跳转 -->
  <button (click)="jump()">跳转</button>
  <hr />
  <form [formGroup]="form">
    <input type="text" name="" id="" formControlName="username" />
  </form>
</app-page-layout>
