<!--
 * @Author: Vinylonprophet 915390118@qq.com
 * @Date: 2022-11-12 10:50:52
 * @LastEditors: Vinylonprophet 915390118@qq.com
 * @LastEditTime: 2022-11-16 18:34:16
 * @FilePath: \angular-test\src\app\components\template-variable\template-variable.component.html
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<!-- 组件模板中获取 -->
<button #btn (click)="onClick(btn)">button</button>

<!-- 组件类中获取 -->
<!-- ViewChild装饰器获取一个元素 -->
<p #paragraph>home works!</p>

<ul>
  <li #items></li>
  <li #items></li>
  <li #items></li>
  <li #items></li>
  <li #items></li>
</ul>
